body {
  font-family: Tahoma, sans-serif;
}

#calendar {
  width: 100%;
}

#calendar a {
  color: #666;
  text-decoration: none;
}

#calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
  width: 100%;
}

#calendar li {
  display: block;
  float: left;
  width: 14.28571428571429%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
}

#calendar ul.weekdays {
  height: 40px;
  background: #333;
}

#calendar ul.weekdays li {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 14px;
}

.days li {
  height: 180px;
  background: #f0f0cc;
}

.days li:hover {
  height: 180px;
  background: #eee;
}

.date {
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
  background: #333;
  color: #fff;
  width: 25px;
  border-radius: 50%;
  float: right;
}

.event {
  clear: both;
  display: block;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: #f1fa8c;
  line-height: 14px;
  background-color: #658ad7;
  border: 1px solid #b5dbdc;
  text-decoration: none;
}

.event-desc {
  margin: 3px 0 7px 0;
}

.days .other-month {
  background: #f5f5f5;
  color: #666;
}

@media screen and (max-width: 768px) {
  .weekdays, #calendar .other-month {
    display: none;
  }
  #calendar li {
    height: auto !important;
    border: 1px dotted #16c7fa;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }
  #calendar .date {
    float: none;
  }
}